
# Created by https://www.gitignore.io/api/java-web

### Java-Web ###
## ignoring target file
target/
old/

barbershop/dist/
node_modules/
package-lock.json

# End of https://www.gitignore.io/api/java-web
